@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  background-image: url('../img/bg.jpg');
  background-color: black;
  font-family: 'Inconsolata', monospace;
}

/* HEADER SECTION WITH THE SLIDER*/
*:focus {
  outline: 0 !important;
}

.fa-angle-double-right {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  margin: 0.7rem;
}

.fa-angle-double-left {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  margin: 0.7rem;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  margin-top: -100px;
  top: 50%;
  z-index: 5;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.titleMessage .heading p {
  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #ffbf00, 0px 2px 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #ffbf00;
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 3rem;
}

.titleMessage .heading .sub {
  font-size: 1.5rem;
  display: inline;
}

.typed-cursor {
  opacity: 0;
  -moz-animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
  display: inline-block;
  width: 2px;
  height: 1.3rem;
  margin-left: 3px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0);
}

@keyframes blink {
  0% {
    opacity: 1;
    background-color: rgba(0, 255, 0, .75);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    background-color: rgba(255, 191, 0, 0.75);
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
    background-color: rgba(0, 255, 0, .75);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    background-color: rgba(255, 191, 0, 0.75);
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
    background-color: rgba(0, 255, 0, .75);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    background-color: rgba(255, 191, 0, 0.75);
  }
}

.section {
  padding: 50px 0;
  color: #ffbf00;
}

/* ABOUT SECTION CSS */
.aboutImage {
  max-width: 100%;
}

.row .col-md-6 h4 {
  margin: 0.5em 0;
  letter-spacing: 1px;
}

.row .col-md-6 p {
  text-align: justify;
  word-spacing: 3px;
  letter-spacing: 1px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .row .col-md-6 p {
    text-align: left;
    word-spacing: 3px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .row .col-md-6 p {
    text-align: left;
    word-spacing: 3px;
    letter-spacing: 1px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .row .col-md-6 p {
    text-align: left;
    word-spacing: 3px;
    letter-spacing: 1px;
  }

  .row .col-md-6 h4 {
    text-align: center;
    letter-spacing: 1px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .row .col-md-6 p {
    text-align: left;
    word-spacing: 3px;
    letter-spacing: 1px;
  }

  .row .col-md-6 h4 {
    text-align: center;
    letter-spacing: 1px;
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  .row .col-md-6 p {
    text-align: left;
    word-spacing: 3px;
    letter-spacing: 1px;
  }

  .row .col-md-6 h4 {
    text-align: center;
    letter-spacing: 1px;
  }
}

/* SKILLS SECTION*/
.skillsSection,
.contactSection {
  background-color: rgba(44, 62, 80, 0.85) !important;
}

.skillsSection h2 {
  letter-spacing: 9px;
}

.skillsSection h2:before {
  content: '›';
  position: inline-block;
  line-height: 1.5;
  -moz-animation: spark 1.8s infinite;
  -webkit-animation: spark 1.8s infinite;
  animation: spark 1.8s infinite;
}

.portofolioSection h2 {
  letter-spacing: 9px;
}

.portofolioSection h2:before {
  content: '›';
  position: inline-block;
  line-height: 1.5;
  -moz-animation: spark 1.8s infinite;
  -webkit-animation: spark 1.8s infinite;
  animation: spark 1.8s infinite;
}

.stat {
  letter-spacing: 9px;
}

.statsSection h2:before {
  content: '›';
  position: inline-block;
  line-height: 1.5;
  -moz-animation: spark 1.8s infinite;
  -webkit-animation: spark 1.8s infinite;
  animation: spark 1.8s infinite;
}

@keyframes spark {
  0% {
    opacity: 1;
    color: rgba(0, 255, 0, 1);
  }

  49% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
    color: rgba(255, 191, 0, 1);
  }

  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes spark {
  0% {
    opacity: 1;
    color: rgba(0, 255, 0, 1);
  }

  49% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
    color: rgba(255, 191, 0, 1);
  }

  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes spark {
  0% {
    opacity: 1;
    color: rgba(0, 255, 0, 1);
  }

  49% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
    color: rgba(255, 191, 0, 1);
  }

  100% {
    opacity: 0.2;
  }
}

.skill {
  text-align: center;
  cursor: pointer;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  line-height: 152px;
  display: inline-block;
  font-size: 3em;
}

.chart .percent:after {
  content: '%';
}

.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid;
  border-top: none;
}

.squareInnerContainer::before,
.squareInnerContainer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30%;
  border-bottom: 2px solid;
}

.squareInnerContainer::before {
  right: 0;
}

.squareInnerContainer::after {
  left: 0;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: rgba(0, 255, 0, 1);
}

.counter::before {
  content: '›';
  position: inline-block;
  line-height: 1.5;
  margin-left: -1.5rem;
  -moz-animation: spark 1.8s infinite;
  -webkit-animation: spark 1.8s infinite;
  animation: spark 1.8s infinite;
}

.contactButton {
  color: rgba(0, 255, 0, 1);
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid rgba(255, 191, 0, 1);
  border-radius: 8px 12px;
}

.contactButton:hover {
  -moz-transition: all .3s linear, 0.3s;
  -o-transition: all .3s linear, 0.3s;
  -ms-transition: all .3s linear, 0.3s;
  -webkit-transition: all .3s linear, 0.3s;
  transition: all .3s linear, 0.3s;
  text-decoration: none;
  color: rgba(255, 191, 0, 1);
  background-color: #1d1d1d;
}

/* .portofolioHeading {
  margin-right: -3rem;
} */
.filter a {
  color: rgba(0, 255, 0, 1);
  border: 1px solid rgba(255, 191, 0, 1);
  border-radius: 8px 12px;
  padding: 10px 18px;
  display: block;
  text-decoration: none;
}

.filter li {
  display: inline-block;
  padding: 5px;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-padding-start: 0;
}

.filter .current {
  color: rgba(255, 191, 0, 1);
  background-color: #1d1d1d;
}

.filter a:hover {
  -moz-transition: all .3s linear, 0.3s;
  -o-transition: all .3s linear, 0.3s;
  -ms-transition: all .3s linear, 0.3s;
  -webkit-transition: all .3s linear, 0.3s;
  transition: all .3s linear, 0.3s;
  color: rgba(255, 191, 0, 1);
  background-color: #1d1d1d;
}

.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
}

.items li img {
  width: 100%;
  -moz-transition: all .3s linear, 1s;
  -o-transition: all .3s linear, 1s;
  -ms-transition: all .3s linear, 1s;
  -webkit-transition: all .3s linear, 1s;
  transition: all .3s linear, 1s;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: white;
  font-size: 20px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background-color: #1d1d1d;
  position: relative;
  display: inline-block;
  -moz-transition: all .3s linear, 0.3s;
  -o-transition: all .3s linear, 0.3s;
  -ms-transition: all .3s linear, 0.3s;
  -webkit-transition: all .3s linear, 0.3s;
  transition: all .3s linear, 0.3s;
}

.items .icons:hover a {
  -moz-transition: all .3s linear, 0.3s;
  -o-transition: all .3s linear, 0.3s;
  -ms-transition: all .3s linear, 0.3s;
  -webkit-transition: all .3s linear, 0.3s;
  transition: all .3s linear, 0.3s;
  background-color: white;
}

.items .icons:hover i {
  -moz-transition: all .3s linear, 0.3s;
  -o-transition: all .3s linear, 0.3s;
  -ms-transition: all .3s linear, 0.3s;
  -webkit-transition: all .3s linear, 0.3s;
  transition: all .3s linear, 0.3s;
  color: #1d1d1d;
}

.items .icons i:hover {
  -moz-transition: all .3s linear, 0.3s;
  -o-transition: all .3s linear, 0.3s;
  -ms-transition: all .3s linear, 0.3s;
  -webkit-transition: all .3s linear, 0.3s;
  transition: all .3s linear, 0.3s;
  color: rgba(255, 191, 0, 1);
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -moz-transition: all .3s linear, 1s;
  -o-transition: all .3s linear, 1s;
  -ms-transition: all .3s linear, 1s;
  -webkit-transition: all .3s linear, 1s;
  transition: all .3s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  float: left;
  left: -200px;
}

.items .projectLink {
  float: right;
  right: -200px;
}

.items .item:hover .openButton {
  left: 0px;
}

.items .item:hover .projectLink {
  right: 0px;
}

.items .item:hover img {
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.items {
  padding: 0;
}

.items ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-padding-start: 0;
}

.copyrightSection {
  background-color: rgba(148, 115, 17, 1);
  color: black;
}

.copyrightSection p {
  margin: 0;
}

#navigation {
  background-color: rgba(44, 62, 80, 0.98);
  padding: 20px 10px;
  z-index: 999;
  width: 100%;
}

#navigation li {
  padding: 0 10px;
}

#navigation li a {
  color: rgba(255, 191, 0, 1) !important;
}

.navbar-brand,
.navbar-brand:hover,
.fa-project-diagram {
  color: rgba(255, 191, 0, 1) !important;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) repeat;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loader .inner {
  width: 100vw;
  height: 100vh;
  color: #000;
  /* background: url(../img/477.gif) center center no-repeat; */
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 1s ease infinite;
  -moz-animation: Gradient 1s ease infinite;
  animation: Gradient 1s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoGithub:hover {
	background-color: #F56505;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}

.social-network a.icoFacebook:hover i, .social-network a.icoGithub:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #000000;
}

.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	-ms-transition: all 0.4s;
	transition: all 0.4s;
}

.social-circle i {
	color: rgba(255, 191, 0, 1);
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
